<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">

    <h1 class="mb-0">THAI 
      <span class="text-primary">TRAN</span>
    </h1>
    <div class="subheading mb-5">
      Researcher — Data Analyst — Lecturer
    </div>
    <p class="lead mb-4">
      <br><br><span>&#8226;</span>  I am on track to complete PhD at Lincoln University under the supervision of professor Sandhya Samarasinghe, professor Don Kulasiri (Lincoln University, New Zealand), and professor Michael Levin (Tufts University, USA).
	  <br><br><span>&#8226;</span>  My research interests: Data Analysis, Data Mining, Machine Learning, Robotics and Biological Systems. 
	  
	  <br><br><span>&#8226;</span>  A researcher passionate about cutting-edge technology and solving real-world problems, with previous experience in Higher Education to embark upon a career teaching and researching in a University context. My training, university experience and successful teaching have been preparation for this move, and I have the personal qualities to take on this new challenge.
    </p>

    {% include 'landing/social.html' %}
  </div>
</section>