<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Lincoln University - New Zealand</h3>
        <div class="subheading mb-3">PhD in Applied Computing</div>
        <div>AI, Biological Systems and Robotics</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2017 - 2021</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">National Chiao Tung University - Taiwan</h3>
        <div class="subheading mb-3">Master of Science</div>
        <div>Computer Science and Engineering</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012 - 2014</span>
      </div>
    </div>
  
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Can Tho University - Vietnam</h3>
        <div class="subheading mb-3">Bachelor</div>
        <div>Computer Science</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2004 - 2008</span>
      </div>
    </div>
	
	      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">DATA ANALYSIS COURSES</h3>
        <div class="subheading mb-3">Certifications</div>
        <div>Data Analysis and Interpretation Specialization – 4 courses</div>
		<div>Data Visualization with Tableau – 5 courses </div>
		<div>Getting Started with Power BI Desktop </div>
		<div>AWS Cloud Technical Essentials</div>
		<div>Power BI Data Methods</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2021</span>
      </div>
    </div>
  </div>
</section>