<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    
    <p class="lead mb-5">
      <span>&#8226;</span>  I am a reseacher with extensive experience in Data Mining, Artificial Intelligence and Machine Learning.
      <br><br>
	  <span>&#8226;</span>  I have worked as a lecturer in a University since 2008. I really like Python, I have a lot of experience with Python to build models. I also have good knowledge of rational databases systems (strong SQL, T-SQL, PL-SQL), programming languages (e.g., Python, C#, R) and data analysis and visualisation tools such (SAS, Python, Power BI and Tableau).
	  
    </p><br><br>   

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">PhD student/Researcher</h3>
        <div class="subheading mb-3">
          <a href="https://www.lincoln.ac.nz/" class="underline" target="_blank" rel="noopener noreferrer">Lincoln University, Christchurch</a>
        </div>
        <p><br><br><u>Project: Autonomous Self-repair Systems </u>	
		<br><br><span>&#8226;</span>  Used Neural Networks to model self-repair biological tissues and organisms.  
		<br><br><span>&#8226;</span>  Used Modified Hopfield Neural Networks to restore the function and structures of the organisms.

		<br><br><u>Key achievements:</u>
		<br><br><span>&#8226;</span>  Proposed 03 self-repair models for tissues, simple organisms and complex organisms.
		<br><br><span>&#8226;</span>  Visualised outputs, completed programming and ran simulations (Python).
		<br><br><span>&#8226;</span>  Wrote report results/research papers/thesis.
		<br><br><span>&#8226;</span>  Achieved two published journal papers and one will submit.
		<br><br><span>&#8226;</span>  Knew how to use Machine Learning to model computational systems.
		<br><br><span>&#8226;</span>  Achieved experience in a presentation at the conference.
		<br><br><span>&#8226;</span>  Achieved experience in writing of scientific journals and submissions.
</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2017 - July 2021 </span>
      </div>
    </div>
	
	
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Researcher</h3>
        <div class="subheading mb-3">
          <a href="https://www.lincoln.ac.nz/" class="underline" target="_blank" rel="noopener noreferrer">Lincoln University, Christchurch</a>
        </div>
        <p> <br><br><u>Project: Applied Hopfield Neural Networks to analyse biological tissues</u>				
		<br><br><span>&#8226;</span>  Investigated the potential of somatic tissues to hold memory by simulating them as computational tissues with  many plausible connection topologies (Hopfield Networks).  
		<br><br><span>&#8226;</span>  Explored the types of memory and their relevance to potential tissue function, influence of connection topology and persistence of memory across small and large tissues. 
		<br><br><span>&#8226;</span>  Explored discrete and continuous states on the Hopfield Networks.
		<br><br><span>&#8226;</span>  Understood relevant neural network modelling
		<br><br><span>&#8226;</span>  Ran simulations & report results
		<br><br><span>&#8226;</span>  Reported writing and completed programming
		<br><br><u>Key achievements:</u>
		<br><br><span>&#8226;</span>  Identified questions, concepts and understood relevant neural network modelling.
		<br><br><span>&#8226;</span>  Found associative memories, a variety of fixed and limit cycle attractors (memories) with plausible topologies.
		<br><br><span>&#8226;</span>  Visualised outputs, completed programming and ran simulations.
		<br><br><span>&#8226;</span>  Wrote report results/research papers.
</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2019 - December 2019</span>
      </div>
    </div>
	
		
<div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Master/Researcher</h3>
        <div class="subheading mb-3">
          <a href="https://www.lincoln.ac.nz/" class="underline" target="_blank" rel="noopener noreferrer">NCTU, Taiwan</a>
        </div>
        <p> <br><br><u>Project: Abnormal detection in smart home environments</u>				
		<br><br><span>&#8226;</span>  Analysed electricity consumption data (big data) to find correlation patterns using data mining approaches.  
		<br><br><span>&#8226;</span>  Applied Data Mining and Machine Learning methods to these correlation patterns to detect abnormal behaviours of usage electricity in smart homes.
		<br><br><span>&#8226;</span>  Wrote, submitted, and presented two papers at conferences.
		<br><br><span>&#8226;</span>  Completed codes, visualisations and ran simulations with Python.
		</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2012 - June 2014</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Lecturer/Researcher</h3>
        <div class="subheading mb-3">
          <a href="https://www.ctu.edu.vn" class="underline" target="_blank" rel="noopener noreferrer">Can Tho University, Vietnam</a>
        </div>
        <p><span>&#8226;</span>  Can Tho University is a public research university in Can Tho, Vietnam. Established in 1966, it is a multidisciplinary university and a leading university in the Mekong Delta.
		<br><br><span>&#8226;</span>  Taught courses related to information management: System analysis & design, databases, database management systems, programming languages.
		
		<br><br><span>&#8226;</span>  Visiting lecturer @VTT University: medical informatics (Statistics, Data Analytics).

		<br><br><span>&#8226;</span>  Supervised students with projects. 
		<br><br><span>&#8226;</span>  Member of Youth Union - participate in community activities to assist & benefit the poor & elderly.

		
		</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">October 2008 - present</span>
      </div>
    </div>
    
  </div>

</section>
