<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="links">
  <div class="w-100">
    <h2 class="mb-5">Links</h2>
	<div class="subheading mb-3">Social networks</div>
	<br><br>
<div class="social-icons">
  <a href="https://linkedin.com/in/tnmthai" target="_blank" rel="noopener noreferrer">
    <em class="fab fa-linkedin-in"></em>
  </a>
  <a href="https://github.com/tnmthai/" target="_blank" rel="noopener noreferrer">
    <em class="fab fa-github"></em>
  </a>
</div>
<br><br><br><br>
<div class="subheading mb-3">Internal Links</div>
<div class="subheading mb-4">
<a href="http://covid.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">COVID-19 Visualisation</a>
<br><br>
<a href="http://map.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">My travel map</a>
<br><br>
<a href="http://www.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">Publications</a>
<br><br>
<a href="https://scholar.google.com/citations?user=JOHM6sIAAAAJ&hl=vi&oi=ao" class="underline" target="_blank" rel="noopener noreferrer">Google Scholar</a>
<br><br>
<a href="http://old.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">Old home page</a>

</div>

</div>
</section>