<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="others">
  <div class="w-100">
    <h2 class="mb-5">Others</h2>
    
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Farm Work </h3>
        <div class="subheading mb-3">
          <a href="https://www.goldenfields.co.nz/" class="underline" target="_blank" rel="noopener noreferrer">Golden Fields Ltd</a>
        </div>
        <p>Golden Fields is a coffee substitute manufacturer and importer of natural paints and oils, of grain mills, of sauerkraut pots and other products promoting a healthy lifestyle..
		<br><br>A part-time job – about 10 to 20 hours per week.
		<br><br>Mowing lawns, making seedlings, helping on planting machine.
		<br><br>Cutting and washing herbs, Dandelions and others.
		<br><br>Putting herbs into tea bags.		
		
		</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2017 - August 2020</span>
      </div>
  

    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">Updated on April 2021</span>
    </div>
  </div>

</section>
