<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills &amp; Competencies</h2>
	<div class="subheading mb-3"> Software &amp; Tools</div>	
    <p class="lead mb-5">
      <span>&#8226;</span>  Proficiency with data analysis & database management tools/systems: MS SQL, Oracle, MySQL, MS Access, Excel, Python, SAS & Tableau.
      <br><br>
	  <span>&#8226;</span>  Proficiency with programming languages: Python, C++, .Net.	  
    </p>
	
	<div class="subheading mb-3"> Research Competencies</div>	
    <p class="lead mb-5">
      <span>&#8226;</span>  Extensive knowledge of database management tools/systems.
	  <br><br>
	  <span>&#8226;</span>  Expertise in deep learning, data mining and machine learning.
      <br><br>
	  <span>&#8226;</span>  Flexible with working hours and having excellent interpersonal and research skills.
<br><br>
	  <span>&#8226;</span>  Ability to prioritise own work in response to deadlines and resolve problems independently.
<br><br>
	  <span>&#8226;</span>  Experience in carrying out experimental research.

<br><br>
	  <span>&#8226;</span>  Knowledge of maintaining safe workplace practice and procedures.	 

	  <br><br>
	  <span>&#8226;</span>  Possessing a creative approach to problem-solving.	 
	  	  <br><br>
	  <span>&#8226;</span>  Able to plan research and organise tasks effectively.	 
    </p>
	
    <div class="subheading mb-3">Personal strengths</div>

    <p class="lead mb-5">
      <span>&#8226;</span>  Positive can-do attitude.
      <br><br>
	  <span>&#8226;</span>  Initiative and Self-motivated.
<br><br>
	  <span>&#8226;</span>  Highly numerate and Analytical thinker.
<br><br>
	  <span>&#8226;</span>  Goal orientated and Organised and efficient.
	 </p> 
	  
   </div>
</section>
