<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="software">
  <div class="w-100">
    <h2 class="mb-5">Software</h2>    

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Freelancer</h3>
        <div class="subheading mb-3">
          Data Scientist/Software Developer
        </div>
		
        <p><span>&#8226;</span>  Developed personal websites (<a href="http://tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">tnmthai.com</a>) provides information and visualisations using Python, Dash, Django, Git and SQLite3/Postgresql techniques combining with cloud platform Heroku.  
		<br><br><span>&#8226;</span>  Understood how to create websites from Python & Django.
		<br><br><span>&#8226;</span>  Understood concept of project & apps in Django & use templates (CSS).
		<br><br><span>&#8226;</span>  Integrated database with Django app for pulling and storing data.
		<br><br><u>Key achievements:</u>
		<br><br><span>&#8226;</span>  Used Django with Python to build websites and deploy on the cloud.
		<br><br><span>&#8226;</span>  Used Dash DataTable and Pandas to visualise the distribution of Covid-19 cases on a world map (<a href="http://covid.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">covid.tnmthai.com</a>). 
		<br><br><span>&#8226;</span>  Used leaflet, css and html to visualise my travel map (<a href="http://map.tnmthai.com/" class="underline" target="_blank" rel="noopener noreferrer">map.tnmthai.com</a>).		
		
		</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2020 - Present</span>
      </div>
    </div>

    
  </div>

</section>
